%section#home{name: "home"}
#headerwrap
  .container
    .logo.ricoh-white
    %br/
    .row
      .cloud.x1
      .cloud.x2
      .cloud.x3
      .cloud.x4
      .cloud.x5
      .mas-logo
      %h4.hero-message Design &bull; Build &bull; Deliver &bull; Support
      .scroll-hint
        Interested? Scroll on
        %span
          %i.fa.fa-angle-double-up

%section#about{name: "about"}
.f
  .container
    .row
      %h3 About
      %p.centered
        %i.icon.icon-circle
        %i.icon.icon-circle
        %i.icon.icon-circle
      / INTRO INFORMATIO
      .col-lg-6.col-lg-offset-3
        %p Ricoh draws from years of experience at providing essential enterprise technologies, and as well as best practices from the Silicon Valley to form the Managed Application Services team in Singapore.
        %p By crystalizing great ideas and turning them into interesting products, we make the world a better place.
        %p
          Agile &bull; Ruby on Rails &bull; Node.JS &bull; Angular &bull; AWS &bull; Raspberry Pi
          %br/
          %br/
          You name it.
          %br/
          %br/
          We build it.
        %p Drop us a message and let's keep in contact.
        %p
          / %button.btn.btn-warning{type: "button"} I HAVE A PROJECT OPPORTUNITY

%section#portfolio{name: "careers"}
.f
  .container
    .row.centered
      %h3 Careers
      .terminal
        %p Welcome!
        %p
          You have a passion for keeping systems up and running. You often pick
          the best tools for the job and favor usability over functionality.
          Communication is your middle name so you often find yourself engaging
          users of your applications in conversations to discover what kicks for
          them. While you are observant even for the smallest of details, you know
          when to let go of your perfectionist mentality and press the go button.
          You are a power user of Windows, Linux and OS X operating systems and
          like to have a career that integrates systems together.
        %p
          login as: staff
          %br/
          password:
        %p
          $ jobs
          %br/
          [1] + SysOps Engineer
          %br/
          [2] - Stopped current
        %p
          $ uname -a
          %br/
          SysOps Engineer; Managed Application Services/RICOH Singapore
        %p
          $ cat /proc/job_info
          %br/
          operating : Linux, OS X, Windows Server
          %br/
          shells : Bash, Zsh, Powershell
          %br/
          database : ANY SQL
          %br/
          enterprise : CRM, ERP
          %br/
          certificate : Diploma in computing or relevant
        %p
          $ ls /optional/
          %br/
          report generation tools
          %br/
          mail server administration
          %br/
          nginx and apache administration
          %br/
          shell scripting in windows linux or os x
          %br/
          network security
          %br/
          amazon web services
          %br/
          loves starbucks
        %p
          $ whoami
          %br/
          samhon
          %host
            @
          %domain
            ricoh.sg
        %p
          %prompt
            $
            %span.freekey
            %span.easter.hidden
              ^C Sequence aborted!
              %br/
              Email to samhon[at]ricoh.sg with the subject "[APPLY MAS] Red Pill" and get a shot at one of the openings!
          %span.cursor &nbsp;
  .submit-cv
    / %button.btn.btn-warning{type: "button"} Submit your CV today!
%section#contact{name: "contact"}
.f
  .container
    .row
      %h3
        .logo.ricoh-white.center
      .col-lg-6.col-lg-offset-3
        %p
          Ricoh (Singapore) Pte. Ltd.
          %br>/
          20W Pasir Panjang Road,
          %br>/
          MapleTree Business City
          %br>/
          \#04-28
        %p
          rspapps
          %host
            @
          %domain
            ricoh.sg
