%section#home{name: "home"}
#headerwrap
  .container.no-borders
    .logo.ricoh-white
    %br/
    .row
      .mas-logo
      .clouds
        .cloud.x1
        .cloud.x2
        .cloud.x3
        .cloud.x4
        .cloud.x5
      %h4.hero-message Design &bull; Build &bull; Deliver &bull; Support
      .scroll-hint
        Interested? Scroll on
        %span
          %i.fa.fa-angle-double-up

%section#about{name: "about"}
.f
  .container.no-borders
    .row
      %h3 About
      .col-lg-6.col-lg-offset-3
        %p Ricoh draws from years of experience at providing essential enterprise technologies, as well as best practices from the Silicon Valley, to form the Managed Application Services team in Singapore.
        %p By crystalizing great ideas and turning them into interesting products, we make the world a better place.
        %p
          Ruby on Rails &bull; Node.JS &bull; AngularJS &bull; AWS &bull; Raspberry Pi &bull; Cordova
          %br/
          %br/
          You name it.
          %br/
          %br/
          We build it.
        %p Drop us a message and let's keep in contact.
        %p
          %a.btn.btn-warning.smoothScroll{href: "mailto:samhon@ricoh.sg?subject=We+got+a+project+for+you!", type: "button"} samhon@ricoh.sg

%section#environment{name: "environment"}
.f
  .container
    .row.centered
      %h3 Environment
      .col-lg-6.col-lg-offset-3
        %p Apple Gear &bull; Raspberry Pi
        %p Red Dot Ruby Conf Ticket &bull; AWS Certification
        %p Github &bull; Trello &bull; Screenhero &bull; UptimeRobot
        %p Test driven development &bull; DevOps automation
        %p Agile &bull; Inception &bull; Iteration &bull; Retrospective
        %p Entrepreneur &bull; Startup veterans &bull; User group organizers
        %p Coffee lovers
        %p


%section#portfolio{name: "careers"}
.f
  .container
    .row.centered
      %h3 Careers
      %p.centered
        %h4.white SysOps Engineer
      .terminal.ads
        .notice
          %h4 Duties
          %ul
            %li Manage and secure our application infrastructure
            %li Ensure application uptime and Appdex
            %li Devise high availability strategies
            %li Tune database and operating system performance
            %li Implement app health agents for system monitoring
            %li Troubleshoot and resolve application helpdesk tickets
          %p
          %h4 Requirements
          %ul
            %li Terminal mechanic
            %li Linux and OS X administration experience
            %li Database administration experience
            %li Use shell scripts or Ruby/Python/JavaScript to automate tasks
            %li Good sense of full stack security
            %li Familiar with application layer protocols like HTTP and FTP
            %li A good command of English and a sense of humor :)
          %h4 How to apply?
          %ul
            %li Email samhon@ricoh.sg

      .mobile-hidden
        %h4.white TERMINUS
        .terminal
          %p Welcome!
          %p
            login as: staff
            %br/
            password:
          %p
            $ uname -a
            %br/
            SysOps Engineer; Managed Application Services/RICOH Singapore
          %p
            %prompt
              $
              %span.freekey
              %span.easter.hidden
                ^C Sequence aborted!
                %br/
                Email to samhon[at]ricoh.sg with the subject "[APPLY MAS] Red Pill" and get a shot at one of the openings!
            %span.cursor &nbsp;
  .submit-cv
    / %button.btn.btn-warning{type: "button"} Submit your CV today!
%section#contact{name: "contact"}
.f
  .container
    .row
      %h3
        .logo.ricoh-white.center
      .col-lg-6.col-lg-offset-3
        %p
          20W Pasir Panjang Road,
          %br>/
          MapleTree Business City
          %br>/
          \#04-28
        %p &copy; 2014 Ricoh (Singapore) Pte. Ltd.