/* ------------------------- *\
		Cloud
\* ------------------------- */

.cloud{
  z-index: -999;
	width: 150px;
	height: 60px;
	background: #fff;
	border-radius: 200px 200px 200px 200px;
	-moz-border-radius: 200px 200px 200px 200px;
	-webkit-border-radius: 200px 200px 200px 200px;
	position: absolute;
	top:200px;
  display: none;
  visibility:hidden;
  /* Smartphones (portrait and landscape) ----------- */
  @media (min-width: 800px) {
    display: block !important;
    visibility: visible;
  }
}

.cloud:before{
	content: '';
	width:80px;
	height:80px;
	background: #fff;
	border-radius: 200px 200px 200px 200px;
	-moz-border-radius: 200px 200px 200px 200px;
	-webkit-border-radius: 200px 200px 200px 200px;
	top: -40px;
	left: 50px;
	position: absolute;
}

.cloud:after{
	content: '';
	width:40px;
	height:40px;
	background: #fff;
	border-radius: 200px 200px 200px 200x;
	-moz-border-radius: 200px 200px 200px 200px;
	-webkit-border-radius: 200px 200px 200px 200px;
	top: -20px;
	left: 20px;
	position: absolute;
}


/*Time to animate*/
.x1 {
	-webkit-animation: moveclouds 60s linear infinite;
	-moz-animation: moveclouds 60s linear infinite;
	-o-animation: moveclouds 60s linear infinite;
  opacity: 0.4; /*opacity proportional to the size*/
  right: 200px;
}

/*variable speed, opacity, and position of clouds for realistic effect*/
.x2 {
	right: 290px;

	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
	opacity: 0.5; /*opacity proportional to the size*/

	/*Speed will also be proportional to the size and opacity*/
	/*More the speed. Less the time in 's' = seconds*/
	-webkit-animation: moveclouds 80s linear infinite;
	-moz-animation: moveclouds 80s linear infinite;
	-o-animation: moveclouds 80s linear infinite;
}

.x3 {
	right: 350px; top: 310px;

	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0.4; /*opacity proportional to the size*/

	-webkit-animation: moveclouds 110s linear infinite;
	-moz-animation: moveclouds 110s linear infinite;
	-o-animation: moveclouds 110s linear infinite;
}

.x4 {
	right: 420px; top: 150px;

	-webkit-transform: scale(0.75);
	-moz-transform: scale(0.75);
	transform: scale(0.75);

	opacity: 0.3; /*opacity proportional to the size*/
	-webkit-animation: moveclouds 72s linear infinite;
	-moz-animation: moveclouds 72s linear infinite;
	-o-animation: moveclouds 72s linear infinite;
}

.x5 {
	right: 260px; top: 450px;

	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0.6; /*opacity proportional to the size*/

	-webkit-animation: moveclouds 90s linear infinite;
	-moz-animation: moveclouds 90s linear infinite;
	-o-animation: moveclouds 90s linear infinite;
}

@-webkit-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: 10px;}
}
@-moz-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: 10px;}
}
@-o-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: 10px;}
}