<!DOCTYPE html>
<html>
  <head>
    <title>Managed Application Services :: Ricoh (Singapore) Pte Ltd - Agile software development, Cloud computing, DevOps, Ruby, Rails, Node.JS, Raspberry Pi, AWS</title>
    <link href='assets/bootstrap.css?body=1' media='all' rel='stylesheet'>
    <link href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css' media='all' rel='stylesheet'>
    <link href='assets/animations.css?body=1' media='all' rel='stylesheet'>
    <link href='assets/main.css?body=1' media='all' rel='stylesheet'>
    <meta content='width=device-width, initial-scale=1, user-scalable=no' name='viewport'>
    <script src='assets/jquery.js?body=1'></script>
    <script src='assets/Chart.js?body=1'></script>
    <script src='assets/bootstrap.js?body=1'></script>
    <script src='assets/classie.js?body=1'></script>
    <script src='assets/main.js?body=1'></script>
    <script src='assets/smoothscroll.js?body=1'></script>
  </head>
  <body data-offset='0' data-spy='scroll' data-target='#theMenu'>
    <nav class='menu' id='theMenu'>
      <div class='menu-wrap'>
        <h1 class='logo'>
          <a href='index.html#home'>MENU</a>
        </h1>
        <i class='fa fa-times menu-close'></i>
        <a class='smoothScroll' href='#home'>Home</a>
        <a class='smoothScroll' href='#about'>About</a>
        <a class='smoothScroll' href='#environment'>Environment</a>
        <a class='smoothScroll' href='#careers'>Careers</a>
        <a class='smoothScroll' href='#contact'>Contact</a>
      </div>
      <div id='menuToggle'>
        <i class='fa fa-bars'></i>
      </div>
    </nav>
    <!DOCTYPE html>
    <html>
      <head>
        <title>Managed Application Services :: Ricoh (Singapore) Pte Ltd - Agile software development, Cloud computing, DevOps, Ruby, Rails, Node.JS, Raspberry Pi, AWS</title>
        <link href='assets/bootstrap.css?body=1' media='all' rel='stylesheet'>
        <link href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css' media='all' rel='stylesheet'>
        <link href='assets/animations.css?body=1' media='all' rel='stylesheet'>
        <link href='assets/main.css?body=1' media='all' rel='stylesheet'>
        <meta content='width=device-width, initial-scale=1, user-scalable=no' name='viewport'>
        <script src='assets/jquery.js?body=1'></script>
        <script src='assets/Chart.js?body=1'></script>
        <script src='assets/bootstrap.js?body=1'></script>
        <script src='assets/classie.js?body=1'></script>
        <script src='assets/main.js?body=1'></script>
        <script src='assets/smoothscroll.js?body=1'></script>
      </head>
      <body data-offset='0' data-spy='scroll' data-target='#theMenu'>
        <nav class='menu' id='theMenu'>
          <div class='menu-wrap'>
            <h1 class='logo'>
              <a href='index.html#home'>MENU</a>
            </h1>
            <i class='fa fa-times menu-close'></i>
            <a class='smoothScroll' href='#home'>Home</a>
            <a class='smoothScroll' href='#about'>About</a>
            <a class='smoothScroll' href='#environment'>Environment</a>
            <a class='smoothScroll' href='#careers'>Careers</a>
            <a class='smoothScroll' href='#contact'>Contact</a>
          </div>
          <div id='menuToggle'>
            <i class='fa fa-bars'></i>
          </div>
        </nav>
        
      </body>
    </html>
  </body>
</html>
