!!!
%html
  %head
    %title Managed Application Services :: Ricoh (Singapore) Pte Ltd - Agile software development, Cloud computing, DevOps, Ruby, Rails, Node.JS, Raspberry Pi, AWS
    %link{href: "assets/bootstrap.css?body=1", media: "all", rel: "stylesheet"}/
    %link{href: "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", media: "all", rel: "stylesheet"}
    %link{href: "assets/animations.css?body=1", media: "all", rel: "stylesheet"}/
    %link{href: "assets/main.css?body=1", media: "all", rel: "stylesheet"}/
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, user-scalable=no"}
    %script{src: "assets/jquery.js?body=1"}
    %script{src: "assets/Chart.js?body=1"}
    %script{src: "assets/bootstrap.js?body=1"}
    %script{src: "assets/classie.js?body=1"}
    %script{src: "assets/main.js?body=1"}
    %script{src: "assets/smoothscroll.js?body=1"}
  %body{"data-offset" => "0", "data-spy" => "scroll", "data-target" => "#theMenu"}
    %nav#theMenu.menu
      .menu-wrap
        %h1.logo
          %a{href: "index.html#home"} MENU
        %i.fa.fa-times.menu-close
        %a.smoothScroll{href: "#home"} Home
        %a.smoothScroll{href: "#about"} About
        %a.smoothScroll{href: "#careers"} Careers
        %a.smoothScroll{href: "#contact"} Contact
      #menuToggle
        %i.fa.fa-bars
    =yield
